<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                      http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0" metadata-complete="false">
    <!-- web 配置 -->
    <!-- 告诉 tomcat 来管理 servelt 类 -->
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.andrew.hello.HelloServlet</servlet-class>
    </servlet>

    <!-- 向外暴漏该 servlet 类的一个资源名称，供外界直接访问，该资源名称必须以 / 开头 -->
    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>

    <!-- web 配置 -->
    <!-- 告诉 tomcat 来管理 servelt 类 -->
    <servlet>
        <servlet-name>GetInitParam</servlet-name>
        <servlet-class>com.andrew.hello.InitParamServlet</servlet-class>

        <init-param>
            <param-name>encoding</param-name>
            <param-value>GBK</param-value>
        </init-param>
        <init-param>
            <param-name>name</param-name>
            <param-value>Andrew</param-value>
        </init-param>
    </servlet>

    <!-- 向外暴漏该 servlet 类的一个资源名称，供外界直接访问，该资源名称必须以 / 开头 -->
    <servlet-mapping>
        <servlet-name>GetInitParam</servlet-name>
        <url-pattern>/initparam</url-pattern>
    </servlet-mapping>

    <!-- web 配置 -->
    <!-- 告诉 tomcat 来管理 servelt 类 -->
    <servlet>
        <servlet-name>servlet1</servlet-name>
        <servlet-class>com.andrew.extend.Servlet1</servlet-class>

        <init-param>
            <param-name>encoding</param-name>
            <param-value>GBK</param-value>
        </init-param>
        <init-param>
            <param-name>name</param-name>
            <param-value>Andrew</param-value>
        </init-param>
    </servlet>

    <!-- 向外暴漏该 servlet 类的一个资源名称，供外界直接访问，该资源名称必须以 / 开头 -->
    <servlet-mapping>
        <servlet-name>servlet1</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>



    <!--

        <url-patternt> 必须保证唯一性，而且必须使用 / 打头
        servlet 的映射支持通配符映射（ * 表示任意字符）

        第一种 /* 任意的资源路径都可以访问 servlet。 /system/* 请求必须以 /system/打头 才可以访问。
        第二种 *.拓展名。 如 *.do 就必须以.do 作结尾才可以访问

        在映射 servlet 的时候， <servlet-name> 元素的文本内容不能是 default
        因为在 tomcat 中有一个叫 default 的 servlet 专门处理静态资源 （html，js，css 图片等）

    -->

    <welcome-file-list>
        <welcome-file>login.html</welcome-file>
    </welcome-file-list>
    <!--
        metadata-complete="true" 是否忽略 Web 组件扫描注解
        metadata-complete="false" 是否忽略 Web 组件扫描注解   // 缺省情况下默认是false
    -->


    <servlet>
        <servlet-name>m1</servlet-name>
        <servlet-class>com.andrew.servletInit.MappingServlet1</servlet-class>
        <!-- 如果想启动服务器就初始化就要配置一个属性 load-on-startup 的属性值越小优先级越高 -->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>m1</servlet-name>
        <url-pattern>/m1</url-pattern>
    </servlet-mapping>
</web-app>
